__pycahce__/
__pycahce__
*.pyc

venv
venv/

.env
*.env

/media/courses/
/media/profiles/


.sqlite
*.sqlite!/apps/course/api/serializers/course_serializers.py

.idea
.idea/
.idea/*

debug.log
.log
*.log