{% include 'main.html' %}

{% block title %}
    <link rel="stylesheet" href="/static/article/css/article.css">

    <title>Articles</title>
{% endblock title %}

{% block content %}
<input type="hidden" name="user_status" class="user__status" value="{{ request.user.is_superuser }}" />
<input type="hidden" id="ArticleID" value="{{ article.id }}"/>
<div class="page">
    {% if request.user.is_authenticated %}
        {% include "header.html" %}
    {% endif %}
    <div class="course__item article__item"
        {% if request.user.is_authenticated %}
            style="margin-left: 200px;"
        {% else %}
            style="margin-left: 0px"
        {% endif %}
    >
        <div class="article__item__header">

        </div>

        <div class="article__item__body">
            {% autoescape off %}
                {{ article.content }}
            {% endautoescape %}
        </div>

        <div class="article__item__footer">

        </div>

        <div class="article__item__comments">

        </div>
    </div>

<script src="/static/article/js/article.js"></script>
</div>
{% endblock content %}