{% include 'main.html' %}

{% block title %}
    <link rel="stylesheet" href="/static/css/courses.css">
    <link rel="stylesheet" href="/static/article/css/articles.css">
    <link rel="stylesheet" href="/static/css/components/tasks__loader.css">

    <title>Articles</title>
{% endblock title %}

{% block content %}
<input type="hidden" name="user_status" class="user__status" value="{{ request.user.is_superuser }}" />
<div class="page">
    {% if request.user.is_authenticated %}
        {% include "header.html" %}
    {% endif %}
    <div class="page__content"
        {% if request.user.is_authenticated %}
            style="margin-left: 200px;"
        {% else %}
            style="margin-left: 0px"
        {% endif %}
    >
        <div class="page__content__main">
            <div class="page__content__header">
                <h2>Articles 📰</h2>
                <form class="" method="GET" id="searchForm">
                    <input type="text" class="search" name="search" placeholder="Search...">
                    <button class="btn btn--primary">
                        <img src="/static/icons/Search.svg" alt="search">
                    </button>
                    {% if request.user.is_superuser %}
                        <a href="{% url 'article:create_article' %}" class="btn">Create Article</a>
                    {% endif %}
                </form>
            </div>
            <div class="page__content__courses" id='ShowAllCourses'>
                <div class="tasks__loader"></div>
            </div>
        </div>
        <div class="page__content__sorting">
            <div class="page__content__sorting__header">
                <button class="btn btn--primary" id="filtersButton">
                    <img src="/static/icons/Slider.svg" alt="Slider">
                </button>
            </div>
            <form action="" method="GET" id="ShowFilters" style="display: none; opacity: 0;" >
                {% csrf_token %}
            </form>
        </div>
    </div>

    <script src='/static/article/js/article_list.js' type="module"></script>
</div>
{% endblock content %}