{% include 'index.html' %}

{% block title %}
<title>Create Article</title>
{% endblock  %}

{% block content %}
<div class="page">
    <div class="page__article__form">
        <h2>Create Article</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <input 
                type="text"
                name="title"
                placeholder="ur title..."
                id = 'ArticleTitle'
            >
            <select name="tag">
                <option value="" selected disabled>Select Tag</option>
                {% for tag in tags  %}
                  <option value="{{tag.id}}">{{tag.name}}</option>
                {% endfor %}
            </select>
            <a href="{% url 'base:tags' %}" class="link">Add Another Tag!</a>
            <textarea name="text" placeholder="ur text...." id="ArticleText"></textarea>
            <div class="page__article__form__box">
                <input type="checkbox" class="page__article__form__checkbox" name="public" > 
                <div>i wanna public my work</div>
            </div>
            <button class="btn" type="submit" id="ArticleClearSession">Save</button>
        </form>
    </div>
</div>
<script>
    //TITLE in localStorage
    ArticleTitle = document.getElementById('ArticleTitle')

    ArticleTitle.addEventListener('change', () => {
        console.log(ArticleTitle.value);
        localStorage.setItem('ArticleTitle',ArticleTitle.value);
    });
    ArticleTitle.value = localStorage.getItem('ArticleTitle');

    //ArticleText in localStorage
    ArticleText = document.querySelector('#ArticleText');
    ArticleText .addEventListener('change', () => {
        console.log(ArticleText.value)
        localStorage.setItem('ArticleText', ArticleText.value)
    });

    ArticleText.value = localStorage.getItem('ArticleText');

    //CLEAR SESSION
    ArticleClearSession = document.querySelector('#ArticleClearSession');

    ArticleClearSession.addEventListener('click', () => {
        sessionStorage.removeItem('ArticleTitle');
        sessionStorage.removeItem('ArticleText');
    });
</script>
{% endblock content %}