{% include 'index.html' %}

{% block title %}
<title>Создать Статью</title>
<link rel="stylesheet" href="css/mobile-update-articles.css">
{% endblock  %}

{% block content %}
<div class="page">
{% if page == 'update_article' %}
    <div class="page__article__form">
        <h2>Обновить Статью</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <input 
                type="text"
                name="title"
                placeholder="название..."
                value = "{{article.title}}"
                class="input"
            >
            <select name="tag" >
                <option selected value ="{{article.tag.id}}">{{article.tag.name}}</option>
                {% for tag in tags  %}
                    {% if tag.name != article.tag.name %}
                    <option value="{{tag.id}}">{{tag.name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <a href="{% url 'base:tags' %}" class="">Добавить Другой Tег...</a>
            <textarea 
                name="text" 
                placeholder="текст...."
                value = "{{article.text}}"
            >{{article.text}}</textarea>
            <div class="page__article__form__box">
                <input 
                    type="checkbox" 
                    class="page__article__form__checkbox" 
                    name="public" 
                    {% if article.public %}
                        checked
                    {% endif %}
                > 
                <div>Я хочу опубликовать свою работу</div>
            </div>
            <button class="btn" type="submit">Сохранить</button>
        </form>
    </div>
{% elif page == 'create_article' %}
    <div class="page__article__form">
        <h2>Создать Новую Статью</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <input 
                type="text"
                name="title"
                placeholder="название..."
                id = 'ArticleTitle'
                class="input"
            >
            <select name="tag">
                <option value="" selected disabled>Select Tag</option>
                {% for tag in tags  %}
                  <option value="{{tag.id}}">{{tag.name}}</option>
                {% endfor %}
            </select>
            <a href="{% url 'base:tags' %}" class="">Добавить Другой Тег!</a>
            <textarea name="text" placeholder="ur text...." id="ArticleText"></textarea>
            <div class="page__article__form__box">
                <input type="checkbox" class="page__article__form__checkbox" name="public" > 
                <div>Я хочу опубликовать свою работу</div>
            </div>
            <button class="btn" type="submit" id="ArticleClearSession">Созранить</button>
        </form>
    </div>
<script>
    //TITLE in localStorage
    ArticleTitle = document.getElementById('ArticleTitle')

    ArticleTitle.addEventListener('change', () => {
        console.log(ArticleTitle.value);
        localStorage.setItem('ArticleTitle',ArticleTitle.value);
    });
    ArticleTitle.value = localStorage.getItem('ArticleTitle');

    //ArticleText in localStorage
    ArticleText = document.querySelector('#ArticleText');
    ArticleText .addEventListener('change', () => {
        console.log(ArticleText.value)
        localStorage.setItem('ArticleText', ArticleText.value)
    });

    ArticleText.value = localStorage.getItem('ArticleText');

    //CLEAR SESSION
    ArticleClearSession = document.querySelector('#ArticleClearSession');

    ArticleClearSession.addEventListener('click', () => {
        sessionStorage.removeItem('ArticleTitle');
        sessionStorage.removeItem('ArticleText');
    });
</script>
{% endif %}
</div>


{% endblock content %}