{% include 'index.html' %}

{% block title %}
    <title>{{article.title}}</title>
{% endblock %}

{% block content %}
<div class="page">
    <div class="page__article">
        <div class="page__article__left">
            <h2 class="page__article__title">{{article.title}}</h2>
            <div class="page__article__header">
                <a href="{% url 'base:profile' article.user.username %}" class="link"><b>{{article.user.username}}</b></a>
                <a class="link">#{{article.tag}}</a>
            </div>
            {% autoescape off %}
                <p>{{article.text}}</p>
            {% endautoescape %}
            <div class="page__article__header">
                <b>
                    <a>{{article.created}}</a>
                </b>
                <form action="" method="POST" class="like__form">
                    {% if request.user.is_authenticated %}
                        {% csrf_token %}
                        <!-- <span>{{ likes }}</span> -->
                        <span class="icon icon__love icon__span">{{likes}}</span>
                        <button class="material-symbols-outlined icon icon__love" id = "like">
                            favorite
                        </button>
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="page__article__right">
            <div class="page__article__right__block">
               {% if articles %}
                    <h3>Latest Articles</h3>
                    {% for article in articles %}
                        {% if article.public %}
                            <article>
                                <div class="article__head ">
                                    <div class="">{{article.title}}</div>
                                    <a href="{% url 'article:show_article' article.slug %}" class="material-symbols-outlined icon link">
                                        arrow_forward
                                    </a>
                                </div>
                                <div class="article__body">
                                    {{article.text | truncatewords:30 }}
                                </div>
                            </article>
                        {% endif %}
                {% endfor %}
               {% endif %}
            </div>
            <div class="page__article__right__block">
                {% if tag_articles %}
                        {% for article in tag_articles  %}
                          {% if article.public %}
                            <h3>Articles You Might Like</h3>
                          {% endif %}
                        {% endfor %}
                        {% for article in tag_articles %}
                            {% if article.public %}
                                <article>
                                    <div class="article__head ">
                                        <div class="">{{article.title}}</div>
                                        <a href="{% url 'article:show_article' article.slug %}" class="material-symbols-outlined icon link">
                                            arrow_forward
                                        </a>
                                    </div>
                                    <div class="article__body">
                                        {{article.text | truncatewords:30 }}
                                    </div>
                                </article>
                            {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}