{% include 'index.html' %}

{% block title %}
    <title>{{article.title}}</title>
{% endblock %}

{% block content %}
<div class="page">
    <div class="page__article">
        <div class="page__article__left">
            <h2 class="page__article__title">{{article.title}}</h2>
            <div class="page__article__header">
                <a href="{% url 'base:profile' article.user.username %}"><b>{{article.user.username}}</b></a>
                <a href="/articles?q={{article.tag}}">#{{article.tag}}</a>
            </div>
            {% autoescape on %}
                <p>{{article.text}}</p>
            {% endautoescape %}
            <div class="page__article__footer">
                <b>
                    {{article.created|date:"d.m.Y   h:m" }}
                </b>
                <form action="" method="POST" class="like__form">
                    {% csrf_token %}
                    <!-- <span>{{ likes }}</span> -->
                    <input type="text" name="type" value="like" style="display: none;">
                    <span class="icon icon__love icon__span">{{likes}}</span>
                    <button 
                        class="material-symbols-outlined icon icon__love" 
                        id = "like">
                        favorite
                    </button>
                </form>
            </div>
            <div class="comments" id="comments">
                <h2>Комментарии</h2>
                <div class="hr"></div>
                <form action=""class='comment__form' method="POST">
                    {% csrf_token %}
                    <input type="text" name="type" value="comment" style="display: none;">
                    <input type="text" name="message" placeholder="Enter ur comment..." class="comment__field">
                    <button class="btn btn-icon" type="submit">
                      <span class="material-symbols-outlined">
                        send
                      </span>
                    </button>
                  </form>
                  <div class="comments__objects">
                    {% for comment in comments %}
                      <div class="comment">
                        <div class="comment__header">
                            <a href="{% url 'base:profile' comment.user.username %}" class="">{{comment.user.username}}</a>
                            <div class="">
                                <span>{{comment.updated|date:"d.m.Y   h:m"}}</span>
                                {% if user.is_authenticated %}
                                  {% if request.user.id == comment.user.id %}
                                    <a class="delete material-symbols-outlined" {% url 'article:delete_comment' article.slug comment.id %}>
                                        close
                                    </a>
                                  {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <p>{{comment.message}}</p>
                        {% comment %} <a href="" class="">replay</a> {% endcomment %}
                      </div>
                    {% endfor %}
                  </div>
            </div>         
        </div>
        <div class="page__article__right">
            <div class="page__article__right__block">
               {% if articles %}
                    <h3>Latest Articles</h3>
                    {% for article in articles %}
                        {% if article.public %}
                            <article>
                                <div class="article__head ">
                                    <a href="{% url 'article:show_article' article.slug %}" class="">{{article.title}}</a>
                                </div>
                                <div class="article__body">
                                    {{article.text | truncatewords:30 }}
                                </div>
                            </article>
                        {% endif %}
                    {% endfor %}
               {% endif %}
            </div>
            <div class="page__article__right__block">
                {% if tag_articles %}
                        {% for article in tag_articles  %}
                          {% if article.public %}
                            <h3>Articles You Might Like</h3>
                          {% endif %}
                        {% endfor %}
                        {% for article in tag_articles %}
                            {% if article.public %}
                                <article>
                                    <div class="article__head ">
                                        <a  href="{% url 'article:show_article' article.slug %}" class="">{{article.title}}</a>
                                    </div>
                                    <div class="article__body">
                                        {{article.text | truncatewords:30 }}
                                    </div>
                                </article>
                            {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}