{% include 'main.html' %}
{% comment %} {% load socialaccount account static %} {% endcomment %}

{% block title %}
    <link rel="stylesheet" href="/static/css/courses.css">
    <link rel="stylesheet" href="/static/css/lowers.css">

    <title>Lowers</title>
{% endblock title %}

{% block content %}
<div class="page">
    {% include "header.html" %}
    <div class="page__content">
        <div class="page__content__main">
            <div class="page__content__header">
                <h2>My favorites 💖</h2>
                <div class=""></div>
            </div>
            <div class="page__content__courses"></div>
        </div>
    </div>
</div>
{% endblock content %}