{% include 'main.html' %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/profile/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/profile/profile.header.css' %}">
<link rel="stylesheet" href="{% static 'css/profile/profile.menu.css' %}">

<title>{{user.username}}</title>
{% endblock title %}

{% block content %}
<div class="page profile ">
   <div class="profile__header">
      <div class="profile__header__left">
         <img src="/media/{{profile.image}}" alt="">
         <h1>{{user.username}}</h1>
      </div>
      <div class="profile__header__right">
         Expirense: {{profile.scores}}
      </div>
   </div>
   <div class="profile__body">
      {% include "base/profile/components/menu.html" %}
      <div class="profile__body__right">
         {% if page == 'profile' %}
            {% include "base/profile/components/info.component.html" %}
         {% elif page == 'update_profile' %}
            {% include "base/profile/components/profile.component.html" %}
         {% elif page == 'courses' %}
            {% include "base/profile/components/courses.component.html" %}
         {% elif page == 'articles' %}
            {% include "base/profile/components/articles.component.html" %}
         {% elif page == 'sertificates' %}
            {% include "base/profile/components/sertificates.component.html" %}
         {% elif page == 'like' %}
            {% include "base/profile/components/likes.component.html" %}
         {% endif %}
      </div>
   </div>
</div>
{% endblock content %}