{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />       

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/loader.css'%}">
    <link rel="stylesheet" href="{% static 'css/mobile-articles.css' %}">

    {% block title %}{% endblock  %}
</head>
<div class="loader">
    <div class="loader__block">
        Loading
        <span></span>
    </div>
</div>
<body>
    
    {% include "header.html" %}

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class='message'>
                    {{message}}
                    <span class="material-symbols-outlined unshow">
                        close
                    </span>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% block content %}{% endblock content %}

    {% comment %} {% include "footer.html" %} {% endcomment %}

    <script>
        const unshows = document.querySelectorAll('.unshow');
        const messages = document.querySelectorAll('.message');

        for (let i=0; i<messages.length;i++) {
            unshows[i].addEventListener('click', () =>{
                messages[i].style.opacity = '0';
                setTimeout(() => {
                    messages[i].style.display = 'none';
                }, 1000)
            })
        }
    </script>

    {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endcomment %}
    <script src="{% static 'js/pre_loader.js' %}"></script>
</body>
</html>     