@import './../variables.css';

.course {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    margin-bottom: 5%;
}
h2 {
    font-size: 26px;
    font-family: var(--PaytoneOne);
}
.course__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; 
    margin-left: 200px;
    padding: 4vh 2vw;
}
.course__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; 
    position: relative;
}
.course__header__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; 
    padding: 8vh 3vw 3vh ;
}
.course__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* height: 35vh; */
    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.course__header__mask {
    display: block;
    content: '';
    width: 100%;
    /* height: 35vh; */
    height: 100%;
    background-color: rgb(254,254,254,.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}
.course__header__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    border-radius: 20px 20px;
}
.course__header__title {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
}
.course__header__title h2 {
    font-family: var(--PaytoneOne);
    font-size: 46px;
    margin-bottom: 14px;
}
.course__header__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.course__header__info__left {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}
.course__header__info__left a {
    color: rgb(20, 20, 20, .8);
    font-size: 20px;
}
.course__header__info__left a {
    color: var(--primary);
}
.course__header__info__right {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 6px;
}
.course__tag {
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 14px;
    opacity: .85;
    /* background-color: ; */
    transition: all .3s linear;
    cursor: pointer;
    color: rgb(20, 20, 20, .8);
}
.course__tag:hover {
    opacity: .95;
    color: var(--primary);
}
.course__header__desc {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 3vw;
    margin-bottom: 4px;
}

.course__header__desc div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    opacity: .8;
}
.course__header__desc div img {
    width: 25px;
}
.course__header__desc div span {
    font-size: 16px;
}
.course__header__experience {
    width: 100%;
}
.course__header__experience__line {
    width: 100%;
    border-radius: 20px;
    /* background-color: var(--white); */
    background-color: rgb(254,254,254,.3);
    position: relative;
    height: 20px;
    display: flex;
    justify-content: start;
    align-items: start;
}
#CourseHeaderExperienceLine {
    display: block;
    content: '';
    height: 100%;
    border-radius: 20px;
    background-color: var(--pink);
}
.course__content {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    padding: 2vh 0;
}
.course__content__left {
    width: 70%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 0 2% 0 0 ;
}
.course__content__left h3 {
    margin-bottom: 2%;
}
.course__content__right {
    width: 30%;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.course__content__right .btn {
    width: 100%;
}
.course__content__right__place {
    padding: 2vh 1vw;
    border-radius: 8px;
    color: rgb(20, 20, 20, .8);
    border: 2px solid rgb(20, 20, 20, .08);

    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    font-size: 16px;
    /* margin-bottom: 10px; */
    width: 100%;
}
.course__content__right__place__spec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 3%;
}
.course__content__right__place__spec div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10%;
}
.course__content__right__place__spec a {
    display: flex;
    justify-content: center;
    min-width: 50%;
    cursor: pointer;
}
.course__content__right__place .text {
    margin-left: 6px;
}
.course__about .text li {
    list-style-type: none;
    margin: 4px 0px 4px 14px;
} 
.course__about .text p {
    margin-bottom: 6px;
    text-align: justify;
}
.course__content__right__place .line {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: 4px;
}
.course__content__right__place .line a {
    font-size: 32px;
    color: rgb(20,20,20,.6);
}
.course__content__right__place .line a:hover {
    color: #202020
}
.course__content__right__place button {
    width: 100%;
}
.course__content__right p b {
    font-size: var(--primary);
}
.tasks {
    display:flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
}
.tasks__title {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    flex-direction: column;
    padding: 8px 10px;
    margin-bottom: 10px;
    transition: all .3s linear;
}
.tasks__title__header {
    width: 100%;
    margin-bottom: 8px;
}
.tasks__title .task {
    width: 96%;
}
.tasks__title:hover {
    /* border: 2px solid rgb(20, 20, 20, .8); */
    /* box-shadow: 4px 4px 10px rgba(20,20,20, .2); */
}
.tasks__title h4 {
    margin-bottom:  8px;
    font-size: 22px;
}
.task {
    border: 2px solid rgb(20,20,20,.08);
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    transition: all .3s linear;
}
.task__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.task__done {
    display: block;
    content: '';
    width: 22px;
    height: 22px;
    border-radius: 100%;
    border: 2px solid rgb(20, 20, 20, .6);
    transition: all .3s linear;
    position: relative;
}
.task__done span {
    display: block;
    width: 130%;
    height: 130%;
    background-color: rgb(234, 182, 225, 1);
    border-radius: 100%;
    border: 2px solid rgb(234, 182, 225, 1);
    position: absolute;
    top: -2px;
    left: -2px;

}
.task__left img, .task__left i {
    opacity: .6;
}
.task__left a {
    color: rgb(20,20,20,.6);
    font-weight: 600;
}
.task__right a svg {
    opacity: .6;
    scale: .9;
    transition: all .3s linear;
    cursor: pointer;
    transition: all .3s linear;
}
.task:hover .task__right a svg {
    opacity: 1;
    margin-left: 8px;
}
.task__right a svg:hover  {
    opacity: 1;
    margin-left: 8px;
}
.task__right a:hover svg {
    opacity: 1;
}
.task__right a {
    width: 34px;
    height: 34px;
    padding: 6px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.task__right a:hover {
    /* background-color: rgb(20, 20, 20, .06); */
}
.task:hover {
    border-color: #202020;
}
.task:hover .task__left a {
    color: #202020;
}
.task:hover .task__left i {
    opacity: 1;
}
.btn {
    text-align: center;
}
.course__reviews {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
    margin-top: 3%;
}
.course__reviews form {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}
.course__reviews form input {
    border: 2px solid rgb(20, 20, 20, .1);
    border-radius: 10px;
    padding: 14px 16px;
    max-width: 100px;
}
.course__reviews form textarea {
    font-size: 16px;
    padding: 8px;
    border: 2px solid rgb(20, 20, 20, .1);
    width: 100%;
    border-radius: 10px;
    min-height: 100px;
    height: 100%;
}
.course__reviews form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 6px;
}

.course__reviews__filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 0;
    margin-top: 6px;
    border-bottom: 2px solid rgb(20, 20, 20, .1);
}
.course__reviews__filters .stars {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 5px;
}
.course__reviews__filters .show__count__reviews {

}
.course__reviews__filters select {
    border: 2px solid rgb(20, 20, 20, .1);
    color: rgb(20, 20, 20, .5);
    font-size: 16px;
}
.review {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    /* border-radius: 10px; */
    /* background-color: rgb(20,20,20,.04); */
    padding: 10px;
    transition: all .3s linear;
    border-bottom: 1px solid rgb(20, 20, 20, .1);
}
.review:hover {
    /* background-color: rgb(20,20,20,.08); */
}
.review__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 6px;
}
.review__header__left {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 6px
}
.review__header__left a {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.review__header__right {
    font-size: 18px;
    color: rgb(20, 20, 20, .8);
    gap: 10px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
}
.options {
    cursor: pointer;
    color: rgb(20, 20, 20, .4);
    transition: all .3s linear;
}
.options:hover {
    color: rgb(20, 20, 20, .8);
}
.review__header__left a img {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    object-fit: cover;

}
.review__header__left a:hover {
    color: var(--violet);
}
.review__message {
    width: 100%;
    font-size: 16px;
    color: var(--primary);
}
.review__data {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    width: 100%;
}
.review__data {
    font-size: 14px;
    color: rgb(20,20,20, .4);
    margin-top: 8px;
}

.window {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    
    display: none;
    opacity: 0;
    transition: all .3s linear;
}
.window::after {
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: -1;
 }
.window__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 5%;
    border-radius: 20px;
    border: 2px solid rgb(20,20,20,.1);
}
.window__form h2 {
    font-size: 26px;
    font-family: var(--PaytoneOne);
    margin-bottom: 5%;
}
.window__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.window__buttons .btn {
    max-width: 300px;
    width: 100%;
}
.course__about {
    font-size: 18px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
}
.course__about * {
    font-size: 18px;
}
.course__about strong {
    font-size: 20px;
    margin-bottom: 6px;
}
.course__about ul {
    margin-bottom: 6px;
}
.course__about h2 {
    font-size: 26px;
    font-family: var(--PaytoneOne);
    margin-bottom: 10px;
}

#TasksContent h2 {
    margin-bottom: 10px;
}

.tasks__loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--pink);
    animation:
        l20-1 0.8s infinite linear alternate,
        l20-2 1.6s infinite linear;
}
@keyframes l20-1{
    0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
    12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
    25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
    50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
    62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
    75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
    100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
 }
 @keyframes l20-2{ 
   0%    {transform:scaleY(1)  rotate(0deg)}
   49.99%{transform:scaleY(1)  rotate(135deg)}
   50%   {transform:scaleY(-1) rotate(0deg)}
   100%  {transform:scaleY(-1) rotate(-135deg)}
 }