@import './../variables.css';

.page__content__main {
    width: 64vw;
}
.page__content__form {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 10px 0;
    padding-bottom: 20%;
}
.form__field {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;

    margin-bottom: 8px;
    width: 100%;
}
.form__field label {
    font-size: 16px;
    color: rgb(20,20,20,.35);
    font-family: var(--Roboto);
    margin-bottom: 4px;
}
.form__field input, select, textarea {
    color: rgb(20,20,20,.55);
    font-family: var(--Roboto);
    font-size: 18px;
    border: 2px solid rgb(20,20,20,.35);
    border-radius: 10px;
    padding: 14px;
    width: 100%;
    background-color: transparent;
}
option {
    padding: 4px;
    color: rgb(20,20,20,.55);
}
/* option:selected {
    color: rgb(20,20,20,.55);
} */
select {
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
}
select:focus option:checked {
    background-color: var(--violet);
    color: var(--white);
}
input:hover, select:hover, textarea:hover {
    border-color: var(--violet);
}
input:hover + label {
    color: var(--violet);
}

input:focus, select:focus, textarea:focus {
    border-color: var(--violet);
}

input:focus label, 
select:focus + label, 
textarea:focus + label {
    color: var(--violet);
}

input[type="file"] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
}
input[type="file"]::after {
    display: block;
    content: url('/static/media/icons/EditImage.svg');
    position: absolute;
    z-index: 1;
    top: -2px;
    left: -2px;
    opacity: 35%;

    border: 2px solid rgb(20,20,20,.35);
    border-radius: 10px;
    padding: 14px;
    background-color: var(--white);
    width: 100%;
    height: 100%;

    transition: all .3s linear;
}
input[type="file"]:hover:after {
    color: var(--violet);
}

textarea {
    height: 200px;
}
.page__content__sorting {
    height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0;
    width: 20vw;
    padding: 10px 3%;
}
.page__content__sorting a {
    margin-bottom: 5%;
    width: 100%;
    text-align: center;
}
.page__content__sorting button {
    width: 100%;
    background-color: var(--violet);
    font-weight: bold;
}
.button__spec {
    background-color: var(--violet);
    font-weight: bold;
}
.form__field__public {
    max-width: 100px;
}
.form__field__public input {
    width: 30px;
    height: 30px;
    appearance: none;
}
.form__field__public input:checked {
    background-color: var(--violet);
}
.form__field p {
    font-size: 16px;
    margin: 6px 0;
    color: rgb(20,20,20,.35);
}
.form__field a {
    font-size: 16px;
    margin: 6px 0;
    color: rgb(20,20,20,.35);
}
.form__field a:hover {
    color: var(--violet);
}

.form__video {
    margin-bottom: 10px;
}
.form__video video {
    width: 100%;
    margin-top: 2%;
    border-radius: 20px;
}
.page__content__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    gap: 5%;
}
.page__content__div .form__field:first-child {
    max-width: 100px;
}

.form__field #id_skills div label input:checked {
    background-color: var(--violet);
}

.form__field #id_interests,
.form__field #id_tags,
.form__field #id_skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    width: 100%;
    margin: 6px 0;
}
.form__field #id_interests div label,
.form__field #id_tags div label,
.form__field #id_skills div label  {
    display: flex;
    margin-right: 16px;
    align-items: center;
}
.form__field #id_interests div label input,
.form__field #id_skills div label input,
.form__field #id_tags label input {
    width: 12px;
    height: 12px;
    appearance: none;
    margin-right: 8px;
}
.form__field #id_interests div label input:checked,
.form__field #id_tags div label input:checked {
    background-color: var(--violet);
}
