@import url('./../variables.css');

.task__page {
      display: grid;
      grid-template-columns: 3fr 1fr;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
      /*padding: 0 2vw;*/
}
.task__page__left {
      width: 100%;
      padding: 0 3vw;
      overflow-y: auto;
      padding-bottom: 15vh;
}
.task__page__left__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3vh 0;
      gap: 4px;
}
.task__page__left__top div {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 4px;

}
.task__page__left__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 2vh;
}
.task__page__left__footer {
      margin: 4vh 0 2vh;
}
.task__page__left__header__right {
      display: flex;
      justify-content: center;
      align-items: center;
}
.task__page__left__header__buttons {
      display: flex;
      justify-content: center;
      align-items: center;
}
.task__page__left__header__buttons a {
      cursor: pointer;
      border: 1.8px solid rgb(20,20,20,.1);
      padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 32px;
      background-color: transparent;
      border-radius: 0  100% 100% 0;
      transition: all .3s linear;
}
.task__page__left__header__buttons a:hover {
}
.task__page__left__header__buttons a svg {
      opacity: .4;
}
.task__page__left__header__buttons a:first-child {
      rotate: 180deg;

}
.task__page__left__header__buttons a:last-child  {
      background-color: var(--violet);
      border-color: var(--violet);
}
.task__page__left__header__buttons a:last-child  svg {
      opacity: 1;
}
.task__page__left__top span {
      color: #ADADB2;
}
.task__page__left__content img {
      width: 100% !important;
      height: auto !important;
}
.task__page__left__content {
      text-align: justify;
}
.task__page__left__content__video {
      width: 100%;
      height: auto;
      border-radius: 6px;
}

/*
      Text
*/
.task__page__left__content p {
      margin-bottom: 10px;
}
.task__page__left__content h1 {
      margin-top: 6px;
      margin-bottom: 18px;
}
.task__page__left__content h2, h3 {
      margin-top: 6px;
      margin-bottom: 14px;
}
.task__page__left__content h4, h5, h6 {
      margin-top: 4px;
      margin-bottom: 10px;
}
.task__page__left__content img {
      border-radius: 4px;
}
.task__page__left__content ol, .task__page__left__content ul {
      margin-top: 6px;
}
.task__page__left__content li {
      margin-left: 20px;
      margin-bottom: 10px;
}
.task__page__left__content .marker {
      background-color: var(--pink);
}
.task__page__left__content table {
      margin: 10px 0;
}
.task__page__left__content tr {

}
.task__page__left__content td {
      padding: 6px;
      border: 1.4px solid rgba(20, 20, 20,.1);
}
.task__page__left__content td img {
      max-width: 100%;
}
blockquote {
      padding: 10px;
      border-left: 4px solid rgba(20, 20, 20, .1);
      color: rgba(20, 20, 20, .6);
      font-style: italic;
}


.task__page__right {
      width: 100%;
      padding: 2vw 2vw 2vw 2vw;
      border-left: 1.5px solid rgb(20,20,20,.1);
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;
      overflow-y: auto;
      position: relative;

      transition: all .3s ease-in-out;
      background-color: white;
      overflow-x: hidden;
}
.task__page__right h3 {
      margin-bottom: 10px;
}

.task__page__right__context {
      width: 100%;
      display: flex;
      flex-direction: column;
}
.tasks__title {
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow-x: hidden;
      margin-bottom: 8px;
}
.tasks__title__header {
      margin-bottom: 4px;
}
.tasks__title__header h4 {
      font-size: 16px;
      font-weight: 500;
}
.task {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 6px;
      padding: 4px;
      border-radius: 10px;
      transition: all .3s linear;
      margin-left: 6px;
      overflow-x: hidden;
}
.task__left {
      width: 85%;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 4%;
}
.task:hover .task__done {
      border-color: rgb(20, 20, 20, .7);
}
.task__done {
      display: block;
      content: '';
      width: 20px;
      min-width: 20px;
      height: 20px;
      border-radius: 100%;
      border: 2px solid rgb(20, 20, 20, .4);
      transition: all .3s linear;
      position: relative;
}
.task__left i {
      opacity: .6;
}
.task__left a {
      color: rgb(20, 20, 20, .6);
      font-weight: 400;
      font-size: 16px;
}   
.task__right {
      width: 10%;
}
.task__right a {
      width: 26px;
      height: 26px;
      padding: 6px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
}
.task__right a svg {
      opacity: .5;
}
.task:hover .task__left a {
      color: rgb(20, 20, 20, .9);
}
.task:hover .task__right a svg {
      opacity: .9;
}

.btn--bookmark {
      font-size: 22px;
      background-color: transparent;
      cursor: pointer;
      color: #bcbcbc;
}
.btn--bookmark:hover {
      color: #7f7f7f;
}

.task__page__right__thumbtack {
      position: relative;
      /*top: 3vh;*/
      /*right: 28%;*/
      font-size: 18px;
      background-color: white;
      z-index: 3;
      cursor: pointer;
      color: rgba(20, 20, 20, .4);

      transition: all .3s ease-in-out;
}
.task__page__right__thumbtack:hover {
      color: var(--primary);
}