/* ! COURSE */
.course {
   /* width: 280px; */
   width: 100%;

   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;

   background-color: white;
   margin: 10px;
   border-radius: 10px ;
   padding: 1% 0;
   transition: all .3s linear;
}
.course:hover .course__image img {
   opacity: .8;
}
.course:hover {
   box-shadow:0 0 10px 1px  rgba(93,214,147,.3) ;
}
.course__image {
   width: 100%;
   max-width: 100%;
   min-width: 100%;
   position: relative;
   border-radius: 10px;
}
.course__image img {
   width: 100%;
   object-fit: cover;
   max-width: 100%;
   min-width: 100%;
   position: relative;
   height: 150px;
   border-radius: 10px;
}
.like__form {
   display: flex;
   justify-content: center;
   align-items: center;
}
.like__form:hover .icon__love {
   color: rgb(93, 214, 147, .5);
}
.course__mask {
   display: block;
   content: "";
   width: 100%;
   height: 150px;
   background: var(--green);
   background: linear-gradient(90deg, rgba(254,254,254,.3   ) 0%, rgba(93,214,147,.3) 100%);
   position: absolute;
   top: 0;
   border-radius: 10px;    
 transition: all .3s linear;
}
.course__info {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   flex-direction: column;
   width: 100%;
   padding: 1% 3%;
   margin-top: 1%;
   height: 100%;   
}
.course__info__desc {
   margin: 1% 0 3% 0;
   transition: all .3s linear;
    
}
.course__info__desc a:hover {
   color: var(--green)
}
.course__title {
   font-size: 20px;
   margin-bottom: 20px;
}
.course__info__tables {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   margin: 0% 0 2%;
}
.course__info__tables a {
   font-size: 16px;
   color: black;
}
.course__info__tables__line {
   display: block;
   content: '';
   width: 100%;
   height: 1px;
   background-color: rgb(254,254,254,.1);
   border-radius: 10px;
}