textarea {
   /* max-width: 600px; */
   margin-bottom: 10px;
   width: 100%;
   min-width: 100%;
}
.display_none {
   display: none;
}
select {
   margin-bottom: 10px;
}
input {
   margin-bottom: 10px;
}
.dangerouse__place {
   margin: 3% 0
}
.form {
   row-gap: 10px;
}

h2 {
   margin-bottom: 10px;
}