{% include 'main.html' %}
{% comment %} {% load socialaccount account static %} {% endcomment %}

{% block title %}
    <link rel="stylesheet" href="/static/css/courses/create_courses.css">
    {% if status == 'Create' %}
        <title>Create a new article</title>
    {% else %}
        <title>Edit "{{ article.title }}"</title>
    {% endif %}
{% endblock title %}

{% block content %}
<div class="page">
    {% include "header.html" %}
    <form class="page__content" method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="page__content__main">
            <div class="page__content__header">
                {% if status == 'Create' %}
                    <h2>Add New Article &#128221;</h2>
                {% else %}
                    <h2>Edit &#128221;</h2>
                {% endif %}
                <div class=""></div>
            </div>
            <div class="page__content__form" id='CreateCourseForm'>
                <div class="form__field">
                    <label for="{{ form.title.id_for_label }}">Title:</label>
                    {{ form.title }}
                </div>

                <div class="form__field">
                    <label for="{{ form.image.id_for_label }}">Image:</label>
                    {{ form.image }}
                </div>

                <div class="form__field">
                    <label for="{{ form.tags.id_for_label }}">Tags:</label>
                    {{ form.tags }}
                    <p>###Can't see your tags? <a href='{% url "course:tags" %}'>Add more tags</a></p>
                </div>

                <div class="form__field" style="width: 100%">
                    <label for="{{ form.content.id_for_label }}">Content:</label>
                    {% autoescape off %}
                        {{ form.media }}
                        {{ form.content }}
                    {% endautoescape %}
                </div>

                <div class="form__field form__field__public">
                    <label for="{{ form.is_published.id_for_label }}">Public:</label>
                    {{ form.is_published }}
                </div>

            </div>
        </div>
        <div class="page__content__sorting">
            <div></div>
            <button type="submit" class="btn">Save</button>
        </div>
    </form>
</div>

<script src='/static/js/courses/create_courses.js'></script>

{% endblock content %}