@import './variables.css';

.page__content__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    padding: 0 5%;
}
.page__content__sorting {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 10px 5%;
}
.page__content__sorting__header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}