.page  {
   margin-bottom: 10%;
}
.page__show__all  {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 0 10%;
}
.page__show__all a  {
   gap: 10px
}