.loader {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   overflow-x: hidden;
   position: fixed;
   z-index: 10000000000000000001;
   background-color: #202020  ;
   transition: all .3 ease-in-out;
}
.loader__block
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:#67dca9;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px #67dca9;
  box-shadow:0 0 20px rgba(0,0,0,.5);
  transition: all .3 ease-in-out;
}
.loader__block:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid #67dca9;
  border-right:3px solid #67dca9;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
.loader__block span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
.loader__block span:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#67dca9;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #67dca9;
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}