@import url('./variables.css');

select {
    font-size: 18px;
    padding: 13px 10px;

    border: 2px solid rgb(20,20,20,.25);
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}
select:hover {
    border-color: var(--violet);
}
select:focus option:checked {
    background-color: var(--violet);
    color: var(--white);
}