@import './variables.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    text-decoration: none;
    outline: none;
    border: none;
}

body {
    background-color: var(--white);
    color: var(--primary);
    font-size: 18px;
    font-family: var(--Roboto);
    overflow-x: hidden;
}

a {
    color: rgb(20,20,20,.9);
}
.btn {
    padding: 14px 16px;
    border-radius: 10px;
    background-color: var(--black);
    color: var(--white);
    font-size: 18px;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--white);
    color: var(--black);
    box-shadow: 0 0 10px 1px rgb(20,20,20,.1);
}
.btn--primary {

}
input {
   border-radius: 10px; 
   padding: 12px;
   font-size: 18px;
   color: rgb(20,20,20,.9);
   width: 100%;
   border: 2px solid rgb(20,20,20,.25);
}
input:hover {
}
a, button, input, textarea, select, textarea {
    transition: all .3s linear;
}
.message {
    background-color: var(--white);
    width: 100%;
    max-width: 50vw;
    right: 25vw;
    left: 25vw;
    top: 10vh;
    position: fixed;
    z-index: 10;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 1px rgb(20,20,20,.1);
    font-size: 18px;
    transition: all .3s linear;
}
.message .close {
    color: rgb(20,20,20,.5);
    transition: all .3s linear;
    cursor: pointer;
}
.message .close:hover {
    color: var(--primary);
}

.page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.page__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    position: fixed;

    height: 100vh;
    width: 200px;

    bottom: 0;
    left: 0;
    top: 0;

    padding: 10vh 10px 2vh;
    border-right: 2px solid rgb(20,20,20,.15);
}
.page__header__user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15%;
}
.page__header__user img {
    border-radius: 150px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}
.page__header__user a {
    font-size: 22px;
    font-family: var(--PaytoneOne);
    font-weight: 600;
}
.page__header__top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.page__header__bottom {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.page__header__bottom a {
    width: 100%;
}
.btn--primary {
    text-align: center;
    background-color: rgb(242, 230, 217, .8);
    color: rgb(20,20,20,.9);
}
.btn--primary img {
    width: 20px;
    height: 20px;
}
.page__header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.page__header__menu a {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    width: 100%;
    gap: 10px;
    opacity: .35;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
}
.page__header__menu a img {
    width: 25px;
    height: 25px;
}
.page__header__menu a:hover {
    opacity: 1;
    background-color: rgb(242, 230, 217, .8);
}
.page__content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    margin-left: 200px;
}

.page__content__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    padding: 0 5%;
}
.page__content__header, .page__content__sorting {
    display: flex;
    align-items: center;
    width: 100%;
}
.page__content__header {
    justify-content: space-between;
}
.page__content__sorting {
    justify-content: flex-end;
}
.page__content__header h2 {
    font-family: var(--PaytoneOne);
    font-size: 28px;
    font-weight: 400;
}
.page__content__header div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.page__content__sorting {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 10px 5%;
}
.page__content__sorting__header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

::selection {
    background-color: var(--violet);
    color: var(--primary)
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(20,20,20,.1);
}
::-webkit-scrollbar-thumb {
    background-color: var(--violet);
    border-radius: 10px;
}
.page__content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh;
}
.page__content__header h2 {
    font-family: var(--PaytoneOne);
    font-size: 28px;
    font-weight: 400;
}
.page__content__header div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}