:root {
   --white: #fff;
   --black: #000;
   --primary: #202020;
   --green: #67dca9;
   --main-light: #e1f6fb;
   --dark: #3f4156;
   --dark-light: #696d97;
   --light: #e5e5e5;
   --gray: #8b8b8b;
   --light-gray: #b2bdbd;
   --bg: #2d2d39;
   --success: #5dd693;
   --error: #fc4b0b;

   
   --roboto:   'Roboto', sans-serif;
   --roboto-condensed: 'Roboto Condensed', sans-serif;
}

@media screen and (max-width: 700px) {
   header {
      z-index: 10000000000000000000;
   }
   .page {
      margin-bottom: 10vh;
      padding: 0 2vw;
   }
   .page__article {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 10px 0 !important;
   }
   .home__courses__objects {
      padding-right:  5vw;
   }
   .header__line {
      display: block;
      width: 40px;
      height: 4px;
      content: "";
      background-color: var(--main-light);
      margin-top: 7px;
      border-radius: 10px;
   }
   .header__pod__menu {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .header__menu__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
   }
   .header__menu {
      flex-direction: column;
      background-color:#313131;
      box-shadow: 0px 5px 10px #313131;
      position: fixed;
      top: 60px;
      /* z-index: 1000000000000000000000; */
      width: 100%;
      right: 0;
      left: 0;
      padding: 3vh 0;
      top: -50vh;
      transition: all .3s linear;
   }
   .header__menu .link {
      margin-bottom: 20px;
      font-size: 20px;
   }
   .header__menu .link::after {
      display: none;
   }
   .header__menu .link:hover:after {
      display: none;
   }
   /*Article Page*/
   .page__article__title {
      font-size: 24px;
      margin-bottom: 3%;
   }
   .page__article__left p {
      font-size: 18px;
      /* word-break:break-all */
   }
   .page__article__left {
      background-color: transparent;
      padding: 2% 0;
   }
   .page__article__footer b {
      font-size: 16px;
   }
   .comments h2 {
      font-size: 24px;
   } 
   .btn-icon {
      font-size: 14px;
   }
   .btn {
         padding: 8px 14px;
   }
   .comment {
      border: 1px solid rgb(254,254,254,.3);
      border-radius: 10px;
      padding: 10px;
   }
   .comment__header {
      margin-bottom: 10px;
   }
   .page__article__right__block {
      background-color: transparent;
   }
   .page__article__right__block {
      background-color: transparent;
      padding: 0;
      margin: 0
   }
   article {
      margin-bottom: 10px;
   }
   .comment__field {
      font-size: 16px;
   }
   .comment__header *{
      font-size: 16px;
   }
   .comment__header div span {
      font-size: 16px;
      color: var(--light-gray);
   }
   .comment p {
      font-size: 18px;
   }
   .home__courses__objects {
      row-gap: 10px;
      padding-right: 0
   }
   .page__item {
      display: flex;
      flex-wrap: wrap;
      padding: 0 10px;
   }
   .page__article__filters {
      width: 100%;
      padding-top: 0;
   }
   .article {
      padding: 10px;
      margin: 5px 0 ;
   }
   .page__login__place {
      margin-top: 10vh;
      padding:  10%  5%;
   }  
   h2 {
      font-size: 24px ;
   }
   .tag  h2 {
      font-size: 20px;
   }
   .input {
      font-size: 18px;
      margin-bottom: 10px;
   }
   /* profile */
   .profile__body {
      flex-direction: column;
      padding: 2% 0;
   }
   .profile__header__right__icon {
      width: 60px;
      height: 60px;
   }
   .profile__header__right__info h2  {
      font-size: 18px;  
   }
   .profile__header__right__info p  {
      font-size: 14px;
   }
   .profile__body__left {
      flex-direction: row;
      overflow-x: scroll;
      width: 100%;
      max-width: 100%;
      margin-bottom: 10px;
      position: relative;
   }
   ::-webkit-scrollbar {
      height: 8px;
      background-color: rgb(254,254,254, .1);
      cursor: pointer;
   }
   .profile__body__left a {
      margin: 0 10px;
      gap: 0px
   }
   .expirense b {
      display: none;
   }
   .profile__body__right p {
      margin-bottom: 6px;
   }
   .profile__header {
      margin-bottom: 0;
   }
   /* course */
   .course {
      /* min-width: 200px; */
   }

   /*show course page*/
   .page__about, .page__intro {
      flex-direction: column-reverse;
      display: flex;      
   }
   .page__intro {
      hyphens: auto;
      background-color: transparent;
      padding: 0;
   }
   .page__intro__left {
      padding: 0;
   }
   .buttons {
      flex-wrap: wrap;
      width: 100%;
   }
   .page__intro__right {
      width: 100%;
      margin: 2% 0;
   }
   .page__intro__right img {
      width: 100%;
      max-height: 200px;
      border-radius: 10px;
   }
   /* stars */
   .review__form {
      width: 100%;
      flex-wrap: wrap;
   }
   .review__stars {
      width: 100vw;
      min-width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .comment__header div span {
      /* display: none; */
   }
   .page__about__right {
      padding: 0 ;
  }
  .page__about__right p {
   font-size: 18px;
}
   .review__input {
      width: 70vw;
   }
   .review__size {
      font-size: 4vh;
   }
   .page__about {
   }
   .title__desc {
   }
   .title__name {
      font-size: 20px !important;
   }
   .title__open {
      width: 40px;
      height: 40px;
   }
   .title__task a {
      font-size: 16px;
   }

   /*page__article__form*/
   .page__article__form {
      background-color: transparent;
      box-shadow: none;
   }
   .page__article__form form {
      padding: 0;
   }

   /* tags */
   .create__tags__form {
      flex-wrap: wrap;
      row-gap: 5px;
   }
   tag h2 {
      font-size: 20px !important;
   }
   .page__article__form {
      row-gap: 4px;
   }

   /*Page Course Menu*/
   .page__course__menu {
      display: none;
   }
   .page__content {
      margin: 0
   }
   .page__content div {
      margin: 0
   }

   /* course__panel__header */
   .course__panel__header {
      border-bottom: 1px solid var(--light-gray);
      padding-bottom: 2vh;
      margin-bottom: 2vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
   }
   .profile__body__course__menu {
      flex-direction: column;
   }
   .course__body__left__menu__all {
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction:row;
      flex-direction: row;
      overflow-x: scroll;
      width: 100%;
      max-width: 100%;
      margin-bottom: 10px;
      position: relative;
   }
   .profile__body__course__menu {
      overflow-x:hidden;
   }
   .course__panel__header__public {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px
   }
}