.page__content__tags {
    width: 100%;
}
.page__content__tags form {    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
}
input {
    border-radius: 10px; 
    padding: 12px;
    font-size: 18px;
    color: rgb(20,20,20,.9);
    width: 100%;
    border: 2px solid rgb(20,20,20,.25);
}
.page__content__tags__all {
    width: 100%;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;

    gap: 10px;
    row-gap: 10px;
}
.tag {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 20px;
    padding: 4px 10px;

    border: 2px solid rgb(20,20,20,.35);
    color: rgb(20,20,20,.35);
    border-radius: 10px;
    transition: all .3s linear;
}
.tag h3 {
    font-weight: 400;
}
.tag:hover {
    border-color: var(--violet);
    color: var(--violet)
}
.tag span:hover {
    cursor: pointer;
}
.tag span {
    /* font-weight: bold; */
}