@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --black: #000;
    --white: #fff;
    --primary: #202020;
    --lightYellow: #f2e6d9;
    --pink: #EAB6E1;
    --violet: #bba8fd;
    --lilac: #DDC1EA;
    --lightBlue: #F3F8FF;
    --blue: #DEECFF;
    --lightViolet: #C6CFFF;
    --lightLilac: #E8D3FF;

    --Roboto: 'Roboto', sans-serif;
    --PaytoneOne: 'Paytone One', sans-serif;
}