{% include 'index.html' %}

{% block title %}
<title>Create Course </title>
{% endblock title %}

{% block content %}
<div class="page">
    <div class="page__article__form">
        <h2>Create Course</h2>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input 
                type="text"
                name="title"
                placeholder="ur title..."
                id="title"
                class="course_field"
            >
            <input 
                type="file"
                name='image'
            >
            <select name="tag">
                <option value="" selected disabled>Select Tag</option>
                {% for tag in tags  %}
                  <option value="{{tag.id}}">{{tag.name}}</option>
                {% endfor %}
            </select>
            <a href="{% url 'base:tags' %}" class="link">Add Another Tag!</a>
            <label for="">U need to talk about ur course</label>
            <textarea 
                name="about" 
                placeholder="U need to talk about ur course" 
                id="about"
                class="course_field"
            ></textarea>
            <label for="">What Are other people will learn on this course?</label>
            <textarea 
                name="WhatAreUWillLearn" 
                class="course_field"
                placeholder="What Are other people will learn on this course? "
                id = "WhatAreUWillLearn"
            ></textarea>
            <label for="">Task Level</label>
            <select name="level">
                <option value="" selected disabled>Select Level</option>
               <option value="Beginner">Beginner</option>
               <option value="Intermediate">Intermediate</option>
               <option value="Expert">Expert</option>
            </select>
            <label for="">Initial Requirements</label>
            <input 
                name="InitialRequirements" 
                placeholder="Initial Requirements" 
                class="course_field"
                id = 'InitialRequirements'
            />
            <!-- <div class="page__article__form__box">
                <input type="checkbox" class="page__article__form__checkbox" name="public" > 
                <div>i wanna public my course</div>
            </div> -->
            <button class="btn" type="submit" id="Submit" >Save</button>
        </form>
    </div>
</div>

<script>
    /*const course_fields = document.querySelectorAll('.course_field')
    
    for (let i = 0; i < course_fields.length; i++) {
        course_fields[i].addEventListener('change', () => {
            for (let n = 0; n < course_fields.length;n++) {
                console.log(course_fields[n].value); 
                console.log(n);
                localStorage.setItem(`LocalElement${n}`, course_fields[n].value)
            }
        });
        course_fields[i].value= localStorage.getItem(`LocalElement${i}`);
    }

    Submit.addEventListener('click', () => {
        for (let i = 0; i < course_fields.length; i++) {
            course_fields[i].value= localStorage.removeItem(`LocalElement${i}`);
        }
    })*/
</script>
{% endblock content %}