{% comment %} ? IF WE CLICK ON ARTICLES {% endcomment %}
{% if request.user.is_authenticated %}
    {% if request.user.is_superuser %}
        {% if user.is_superuser %}
        <div class="page__panel">
            <a href="{% url 'article:create_article' %}" class="btn btn-delete">
                {% comment %} <span>Add New Post</span> {% endcomment %}
                <span class="material-symbols-outlined ">
                    drive_file_rename_outline
                </span>
            </a>
        </div>
        {% endif %}
    {% endif %}
 {% endif %}
 <div class="home__courses__objects">
    {% for article in articles %}
        <article class="article">
            <a class="link__page"  href="{% url 'article:show_article' article.slug %}">{{article.title}}</a>
            <div class="article__body">
                {{article.text | truncatewords:30 }}
            </div>
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    {% if request.user.username == article.user.username %}
                        <div class="article__head article__buttons">
                            <a href="{% url 'article:update_article' article.slug %}" class="btn btn-icon">
                                <span class="material-symbols-outlined">
                                    edit_square
                                </span>
                            </a>
                            <a href="{% url 'article:delete_article' article.slug %}" class="btn btn-delete">
                                <span class="material-symbols-outlined">
                                delete_forever
                                </span>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </article>
    {% endfor %}
</div>  