<div class="profile__header">
    <div class="profile__header__right">
        {% if profile.image %}
        <img src="/static/media/{{profile.image}}" class="profile__header__right__icon" alt="profile icon">
        {% else %}
        <img src="{{ProfileImage}}" alt="ProfileImage" class="profile__header__right__icon">
        {% endif %}
        <div class="profile__header__right__info">
            <h2>{{user.username}}</h2>
            {% if request.user.username == user.username %}
                <p>{{user.email}}</p>
            {% endif %}
        </div>
    </div>
    <div class="profile__header__left">
        <div class="expirense">
            <b>Expirense:</b>
            <span>{{profile.scores}}</span>
        </div>
    </div>

</div>