<div class="courses page__article__articles">
    {% comment %} TODO:  GET LIKES {% endcomment %}

    <div class="liked__courses">
        {% for course in liked_courses  %}
            <div class="course">
            {% if course.user.username == request.user.username %}
                <div class="course__image">
                    <img src="http://127.0.0.1:8000/static/media/{{course.image}}" alt="" class="course__img">
                    <div class="course__mask"></div>
                </div>
                <div class="course__info">
                    <div class="course__info__desc">
                        <a href="{% url 'courses:course' course.slug %}" class = 'course__title '>{{course.title}}</a>
                        <p>{{course.description|truncatewords:30}}</p>
                    </div>
                    <div class="course__info__tables">
                        <a href="/">{{course.user}}</a>
                        <a href="/">#{{course.tags}}</a>
                    </div>
                </div> 
            {% else %}
                {% if course.public %}
                    <div class="course__image">
                        <img src="http://127.0.0.1:8000/static/media/{{course.image}}" alt="" class="course__img">
                        <div class="course__mask"></div>
                    </div>
                    <div class="course__info">
                        <div class="course__info__desc">
                            <a href="{% url 'courses:course' course.slug %}" class = 'course__title '>{{course.title}}</a>
                            <p>{{course.description|truncatewords:30}}</p>
                        </div>
                        <div class="course__info__tables">
                            <a href="/">{{course.user}}</a>
                            <a href="/">#{{course.tags}}</a>
                        </div>
                    </div> 
                {% endif %}
            {% endif %}
            </div>
        {% endfor %}
    </div>

    {% if like_articles %}
    {% for article in like_articles %}
    <article>
        <div class="article__head ">
            <div class="">{{article.title}}</div>
            <a href="{% url 'article:show_article' article.slug %}" class="material-symbols-outlined icon link">
                arrow_forward
            </a>
        </div>
        <div class="article__body">
            {{article.text | truncatewords:30 }}
        </div>
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                {% if request.user.username == article.user.username %}
                    <div class="article__head article__buttons">
                        <a href="{% url 'article:update_article' article.slug %}" class="btn btn-icon">
                            <span class="material-symbols-outlined">
                                edit_square
                            </span>
                        </a>
                        <a href="{% url 'article:delete_article' article.slug %}" class="btn btn-delete">
                            <span class="material-symbols-outlined">
                            delete_forever
                            </span>
                        </a>
                    </div>
                {% endif %}
            {% endif %}
            {% if status %}
                    <div class=" article__head article__buttons">
                        <div href=""><b>#{{article.tag}}</b></div>
                        <form action="" method="POST" class="like__form">
                            {% if request.user.is_authenticated %}
                                {% csrf_token %}
                                <!-- <span>{{ likes }}</span> -->
                                <span class="icon icon__love icon__span">{{article.likesForArticle.count}}</span>
                                <a href="{% url 'article:show_article' article.slug %}#like" class="material-symbols-outlined icon icon__love" id = "like">
                                    favorite
                                </a>
                            {% endif %}
                        </form>
                    </div>
            {% endif %}
        {% endif %}
    </article>
{% endfor %}
{% else %}
<div class="not__found">
     <span class="material-symbols-outlined not-found-icon">
         image_not_supported
     </span>
     <h2>Articles Not Found</h2>
 </div>
    {% endif %}

 </div>