{% include 'main.html' %}
{% comment %} {% load socialaccount account static %} {% endcomment %}

{% block title %}
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/courses.css">
    <title>Dashboard</title>
{% endblock title %}

{% block content %}
<input type="hidden" name="user_status" class="user__status" value="{{ request.user.is_superuser }}" />
<div class="page">
    {% include "header.html" %}
    <div class="page__content">
        <div class="page__content__main">
            <div class="page__content__header">
                <h2>HI, {{ request.user.username }} 👋</h2>
                <div class="">
                    <a class="btn btn--primary" href="{% url "course:courses" %}">
                        <img src="/static/media/icons/Search.svg" alt="search">
                    </a>
                    {% if request.user.is_superuser %}
                        <a href="{% url 'course:create_course' %}" class="btn">Add New Course</a>
                    {% endif %}
                </div>
            </div>
            <h2 class="page__content__others">My courses  🗂</h2>
            {% if courses_before_3 > 0 %}
            <div class="page__content__popular">
                {% for course in courses_before_3 %}
                    <div class="popular__course">
                        <div class="popular__course__back">
                            <div 
                                class="mask"
                                style="background-color: {% if forloop.counter|divisibleby:3 %}rgb(187, 168, 253,.4){% elif forloop.counter|divisibleby:2 %}rgb(234, 182, 225, .4){% else %}rgb(242, 230, 217, .4){% endif %}"
                            ></div>
                            <img 
                                {% if course.image %}
                                    src="/static{{ course.image.url }}"
                                {% else %}
                                    src="https://images.unsplash.com/photo-1519327128442-131d250b06b8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjR8fG5vdCUyMGZvdW5kfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60"
                                {% endif %}
                                    alt="{{ course.image.url }}">
                        </div>
                        <div class="popular__course__content">
                            <a href="/courses/{{ course.id }}">{{ course.title }}</a>
                            <div class="popular__course__content__desc">
                                Progress:
                                <div class="popular__course__content__load">
                                    <span
                                        style="background-color: {% if forloop.counter|divisibleby:3 %}rgb(187, 168, 253,1){% elif forloop.counter|divisibleby:2 %}rgb(234, 182, 225, 1){% else %}rgb(242, 230, 217, 1){% endif %}"
                                    ></span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                {% else %}
                <div class="page__content__notfound">
                    Nothing found 🗑
                </div>
                <h2 class="page__content__others">Other Courses  📚</h2>
                <div class="page__content__courses" id='ShowAllCourses'></div>

                <script src='/static/js/courses/courses.js' ></script>
                {% endif %}
            <div class="page__content__courses">
                {% comment %} <h2>Other Courses 😍</h2> {% endcomment %}
            </div>
        </div>
        <div class="page__content__comments">
            <div class="page__content__header page__content__header"> 
                <button class="btn btn--primary">
                    <img src="/static/media/icons/Messaging.svg" alt="Messaging">
                </button>   
            </div>
        </div>
    </div>
</div>
{% endblock content %}