{% include 'main.html' %}
{% comment %} {% load socialaccount account static %} {% endcomment %}

{% block title %}
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Corses Platform</title>
{% endblock title %}

{% block content %}
<div class="content">
     <!-- Header -->
     <header class="header">
        <div class="header__left">
            <a href="/" class="header__logo">Courses Platform</a>
        </div>
        <div class="header__left__menu">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#courses">Courses</a>
            <a href="#articles">Articles</a>
        </div>
        <div class="header__right">
            <a href="{% url 'auth:sign-in' %}" class="button">
                Login/Register
            </a>
        </div>
    </header>

    <!-- Intro -->
    <div class="intro" >

        <div class="intro__back">
            <img src="/static/media/index/rich-tervet-q2GNdFmhxx4-unsplash.jpg" alt="">
            <!-- <video src="/static/media/index/pexels-cottonbro-5473795 (2160p)(1).mp4" autoplay  ></video> -->
            <div class="intro__back__gradient"></div>
        </div>

        <div class="intro__center">
            <h2>Unlock Your Potential: Elevate Your Knowledge with the Finest Courses.</h2>
            <p>Your Path to Excellence Starts Here.</p>
            <div class="intro__right__buttons">
                <a href="{% url 'auth:sign-in' %}" class="btn">Sign In</a>
                <a href="/courses"  class="btn btn--primary">Show All Courses</a>
            </div>
        </div>
    </div>

    <!-- About -->
    <div class="about">
        <!-- <div class="title">About Our Platform</div> -->
        <div class="about__content">
            <div class="about__content__circle"></div>
            <div class="about__content__line">
                <span class="about__content__line__draw"></span>
            </div>
            <div class="about__content__left about__content__left__spec">
                <div class="card card1">
                    <img src="/static/media/index/image1.png" alt="image 1" >
                </div>
                <div class="card__desc">
                    <h2>Convenient control panel</h2>
                    <p>Convenient control panel to track your experience, quickly access courses and respond to your messages and comments.</p>
                </div>
            </div>
            <div class="about__content__right">
                <div class="card__desc">
                    <h2>Find other people</h2>
                    <p>You can subscribe to people you are interested in and communicate with them.</p>
                </div>
                <div class="card card2">
                    <img src="/static/media/index/image3.png" alt="image 2">
                </div>
            </div>
            <div class="about__content__left">
                <div class="card card3">
                    <img src="/static/media/index/image2.png" alt="image 3">
                </div>
                <div class="card__desc">
                    <h2>Level up</h2>
                    <p>Showing your course progress.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Collection Courses -->
<div class="collection">
    <div class="title">Popular Courses</div>
   <div class="collection__titles">
    {% for tag in tags %}
        <div class="tag" style="background-color: {% if forloop.counter|divisibleby:3 %}#BBA8FD{% elif forloop.counter|divisibleby:2 %}#EAB6E1{% else %}#F2E6D9{% endif %}">
            {{ tag.name }}
        </div>
    {% endfor %}
   </div>
   <div class="page__content__courses" id='ShowAllCourses'></div>
</div>

<footer class="footer">
    <div class="footer__left">
        <div class="">
            <a href="/courses">Courses</a>
            <a href="/articles">Articles</a>
        </div>
        <div class="">
            <a href="">Facebook</a>
            <a href="">Instagram</a>
            <a href="">YouTube</a>
            <a href="">Twitter</a>
        </div>
    </div>
    <div class="footer__right">
        <div class="">
            <h2>Courses Platform</h2>
        </div>
        <div class="">
            <a href="/terms-of-service">Terms of Service</a>
            <a href="/privacy-policy">Privacy Policy</a>
        </div>
    </div>
</footer>

<script src="/static/js/index.js"></script>
<script src="/static/js/courses/courses.js"></script>
{% endblock content %}