{% include 'main.html' %}
{% comment %} {% load socialaccount account static %} {% endcomment %}

{% block title %}
    <link rel="stylesheet" href="/static/css/courses.css">
    <link rel="stylesheet" href="/static/css/lowers.css">

    <title>Lowers</title>
{% endblock title %}

{% block content %}
<div class="page">
    {% include "header.html" %}
    <div class="page__content">
        <div class="page__content__main">
            <div class="page__content__header">
                <h2>My favorites 💖</h2>
                <div class="">
                    <select name="" id="filters">
                        <option value="All" selected>All</option>
                        <option value="Articles">Articles</option>
                        <option value="Courses">Courses</option>
                    </select>
                </div>
            </div>
            <div class="page__content__courses"></div>
        </div>
        <div class="page__content__comments">
            <div class="page__content__header page__content__header"> 
            </div>
        </div>
    </div>
</div>
{% endblock content %}