{% include 'main.html' %}
{% comment %} {% load socialaccount account static %} {% endcomment %}

{% block title %}
    <link rel="stylesheet" href="/static/css/courses/create_courses.css">
    <title>Settings</title>
{% endblock title %}

{% block content %}
<div class="page">
    {% include "header.html" %}
    <form class="page__content" method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="page__content__main">
            <div class="page__content__header">
                <h2>Settings ⚙️</h2>
                <div class=""></div>
            </div>
            <div class="page__content__form" id='CreateCourseForm'>

                {% for field in formUser %}
                    <div class = "form__field">
                        {% if field.errors %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}

                {% for field in formProfile %}
                    <div class = "form__field">
                        {% if field.errors %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {{ field.label_tag }}
                        {{ formProfile.media }}
                        {{ field }}
                    </div>
                {% endfor %}

            </div>
        </div>
        <div class="page__content__sorting">
            <div></div>
            <button type="submit" class="btn">Save</button>
        </div>
    </form>
</div>

{% endblock content %}