{% include "index.html" %}
{% load static %}

{% block title %}
<title>Panel For {{course.title}}</title>
{% endblock title %}

{% block content %}
<div class="page profile">
    <div class="profile__body">

        <div class="profile__body__left">

            <div class="course__panel__header">
                <h2>{{course.title}}</h2>
                <div class="course__panel__header__public">
                    {% if  course.public %}
                    <span class="material-symbols-outlined">
                        Visibility
                    </span>
                    public
                    {% else %}
                    <span class="material-symbols-outlined course__panel__header__public__icon">
                        visibility_off
                    </span>
                    Visibility Off
                    {% endif %}
                </div>
            </div>

            <a href="{% url 'courses:tasks-panel' course.slug %}" class="link">
                <span class="material-symbols-outlined">
                    task
                </span>    
                Tasks
            </a>

            <a href="{% url 'courses:update-info-panel' course.slug %}" class="link">
                <span class="material-symbols-outlined">
                    edit_note
                </span>    
                Update Info
            </a>

            <a href="{% url 'courses:update-info-panel' course.slug %}" class="link">
                <span class="material-symbols-outlined">
                    forum
                </span>   
                Comments
            </a>

            <a href="{% url 'courses:update-info-panel' course.slug %}" class="link">
                <span class="material-symbols-outlined">
                    reviews
                </span>  
                Reviews
            </a>

            <a href="{% url 'courses:update-info-panel' course.slug %}" class="link">
                <span class="material-symbols-outlined">
                    analytics
                </span>
                Analytics
            </a>

        </div>

        <div class="profile__body__right">

            {% if page == 'TasksPanel' %}
                {% include "course/panel/components/TasksPanel.html" %}
            {% elif page == 'UpdateInfoPanel' %}
                {% include "course/panel/components/UpdateInfoPanel.html" %}
            {% elif page == 'create_task' or page == 'updateTask' %}
                {% include "course/panel/components/CreateTask.html" %}
            {% elif page == 'updateTitle' %}
                {% include "course/panel/components/CreateTask.html" %}
            {% elif page == 'deleteTitle' %}
                {% include "course/panel/components/CreateTask.html" %}
            {% elif page == 'deleteTask' %}
                {% include "course/panel/components/CreateTask.html" %}
            {% endif %}

        </div>
    </div>
</div>
{% endblock content %}