{% include 'main.html' %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/articles/articles_all.css' %}">
<title>All Articles</title>
{% endblock title %}

{% block content %}
<div class="page articles">
   {% if request.user.is_superuser %}
   <div class="page__panel">
       <a href="{% url 'article:create_article' %}" class="btn btn-delete">
            <i class="fa-solid fa-plus"></i>
            <span>Add New Article</span>
       </a>
   </div>
   {% endif %}
   <div class="page__item">
       <div class="page__article__filters">
           <div class='page__article__filter__tags'>
                   <a href="{%  url 'article:all_articles' %}" class='page__article__filter__tag' >Все</a>
               {% for tag in tags %}
                   <a href="{% url 'article:all_articles' %}?q={{tag.name}}" class="page__article__filter__tag">{{tag.name}}</a>
               {% endfor %}
           </div>
       </div>
       <div class="home__courses__objects">
           {% for article in articles %}
               {% if article.public %}
               <article class="article">
                <a class="link__page"  href="{% url 'article:show_article' article.slug %}">{{article.title}}</a>
                <div class="article__body">
                    {% autoescape on %}
                         {{article.text | truncatewords:30 }}
                    {% endautoescape %}
                </div>
                {% if request.user.username == article.user.username %}
                    <div class="article__head article__buttons">
                        <a href="{% url 'article:update_article' article.slug %}" class="btn btn-icon">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                        <a href="{% url 'article:delete_article' article.slug %}" class="btn btn-delete">
                             <i class="fa-solid fa-trash"></i>
                        </a>
                    </div>
                {% endif %}
            </article>
               {% endif %}
           {% endfor %}
       </div>
   </div>
</div>
{% endblock content %}