{% include 'main.html' %}
{% comment %} {% load socialaccount account static %} {% endcomment %}

{% block title %}
    <link rel="stylesheet" href="/static/css/courses/create_courses.css">
    <title>Create a new task</title>
{% endblock title %}

{% block content %}
<div class="page">
    {% include "header.html" %}
    <form class="page__content" method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="page__content__main">
            <div class="page__content__header">
                <h2>Delete Task</h2>
                <div class=""></div>
            </div>  
            
        </div>
        <div class="page__content__sorting">
            <div></div>
            <button type="submit" class="btn">Save</button>
        </div>
    </form>
</div>

<script src='/static/js/courses/create_task.js'></script>

{% endblock content %}