{% include 'main.html' %}
{% comment %} {% load socialaccount account static %} {% endcomment %}

{% block title %}
    <link rel="stylesheet" href="/static/css/courses/delete_course.css">
{% endblock title %}

{% block content %}
<div class="page">
    {% include "header.html" %}
    
    <form class="page__content" method='POST'>
        {% csrf_token %}
        
        <a href="/">Come back</a>
        <button type="submit">Continue</button>
    </form>
</div>

<script src="/static/js/courses/tasks.js"></script>

{% endblock content %}