<div class="profile__body__left">
   {% comment %} TODO: Menu {% endcomment %}
   <a href="{% url 'base:profile' user.username %}" class="""">
      <i class="fa-solid fa-user"></i>
        Профиль
   </a>
   <a href="{% url 'base:profile-likes' user.username %}" class="""">
      <i class="fa-solid fa-heart"></i> 
      Лайки
   </a>
    <a href="{% url 'base:profile-sertificates' user.username %}" class="""">
      <i class="fa-solid fa-certificate"></i>
       Сертификаты
   </a>  
   {% if request.user.is_authenticated %}
       {% if request.user.is_superuser %}
           <a href="{% url 'base:profile-courses' user.username %}" class="""">
            <i class="fa-solid fa-bars-progress"></i>
               Курсы
           </a>
           <a href="{% url 'base:profile-articles' user.username %}" class="""">
            <i class="fa-solid fa-newspaper"></i>
               Статьи
           </a>
       {% endif %}
   {% endif %}
   <!-- <a href="" class="""">Certificates</a> -->
   {% if request.user.username == user.username %}
   <a href="{% url 'base:profile-update' user.username %}" class="""">
      <i class="fa-solid fa-gears"></i>
       Настройки
   </a>
   {% endif %}
</div>