{% include 'main.html' %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<link rel="stylesheet" href="{% static 'css/articles/create_article.css' %}">
<link rel="stylesheet" href="{% static 'css/profile/profile.css' %}">

<title>Add New Course</title>
{% endblock title %}

{% block content %}
<div class="pre__form">
   <div class="form">
      <div class="form__header">
         <a href="{{request.META.HTTP_REFERER}}">
            <i class="fa-solid fa-arrow-left"></i>
            <span>Back</span>
         </a>
         <h3>
         </h3>
      </div>
      <form action="" method="POST" enctype="multipart/form-data">
         {% csrf_token %}
         
         {{form.media}}
         {% for field in form  %}
            <div class = "add__form__component">
               {% if field.errors %}
               <ul class="errorlist">
                  {% for error in field.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
               </ul>
               {% endif %}
               {{ field.label_tag }} {{ field }}
            </div>
         {% endfor %}

         <p>Do you want to add new tag? <a href="{% url 'base:tag_list' %}">Add New Tag</a></p>

         <button type="submit" class="btn">continue</button>
      </form>
   </div>
</div>
{% endblock content %}