{% include 'main.html' %}
{% comment %} {% load socialaccount account static %} {% endcomment %}

{% block title %}
    <link rel="stylesheet" href="/static/css/courses.css">
    <title>Courses</title>
{% endblock title %}

{% block content %}
<input type="hidden" name="user_status" class="user__status" value="{{ request.user.is_superuser }}" />
<div class="page">
    {% if request.user.is_authenticated %}
        {% include "header.html" %}
    {% endif %}
    <div class="page__content" 
        {% if request.user.is_authenticated %}
            style="margin-left: 200px;"
        {% else %}
            style="margin-left: 0px"
        {% endif %}
    >
        <div class="page__content__main">
            <div class="page__content__header">
                <h2>Courses &#128218;</h2>
                <form class="" method="POST" id="searchForm">
                    {% csrf_token  %}
                    <input type="text" class="search" name="search" placeholder="Search...">
                    <button class="btn btn--primary">
                        <img src="/static/media/icons/Search.svg" alt="search">
                    </button>
                    {% if request.user.is_superuser %}
                        <a href="{% url 'course:create_course' %}" class="btn">Add New Course</a>
                    {% endif %}
                </form>
            </div>
            <div class="page__content__courses" id='ShowAllCourses'>
                <div class="tasks__loader"></div>
            </div>
        </div>
        <div class="page__content__sorting">
            <div class="page__content__sorting__header"> 
                <button class="btn btn--primary" id="filtersButton">
                    <img src="/static/media/icons/Slider.svg" alt="Slider">
                </button>   
            </div>
            <form action="" method="POST" id="ShowFilters" style="display: none; opacity: 0;" >
                {% csrf_token %}
                <select name="" id="orderByDate">
                    <option value="Newest">Newest</option>
                    <option value="Oldest">Oldest</option>
                </select>
                <select name="" id="filterByTag">
                    <option value="" selected>All</option>
                </select>
            </form>
        </div>
    </div>

    <script src='/static/js/courses/courses.js' ></script>
</div>
{% endblock content %}