{% include 'index.html' %}

{% block title %}
<title>{{course.title}}</title>
{% endblock title %}

{% block content %}
<div class='page'>
    {% if course.public or request.user.username == course.user.username %}
    <div class="page__intro">
        <div class="page__intro__left">
            <h1 class="page__intro__title">{{course.title}}</h1>
            <div class="page__intro__tags">
                <a href="{% url 'base:profile' request.user %}">
                
                    {{course.user}}</a>
                <a href="">#{{course.tags}}</a>
                <a href="">
                    <span class="material-symbols-outlined">
                        altitude
                        </span>
                    {{course.level}}</a>
            </div>
            <p>{{course.description}}</p>
        </div>
        <div class="page__intro__right">
            <img src="http://127.0.0.1:8000/static/media/{{course.image}}" alt="" class="page__right">
            <div class="page__intro__mask"></div>
        </div>
    </div>
    <div class="page__about">
        <div class="page__about__right">
            <p><b><span class="material-symbols-outlined">
                description
                </span>About:</b> {{course.about}}</p>
            <p>
                <b>
                    <span class="material-symbols-outlined">
                        school
                        </span> 
                    What Are U Will Learn:
                </b> 
                {{course.whatAreUWillLearn}}
            </p>
            <p><b>
                <span class="material-symbols-outlined">
                    other_admission
                    </span>
                Initial Requirements: </b>{{course.initialRequirements}}</p>
            <div class="page__titles">
                {% for title in titles %}
                    <div class="title">
                        <div class="title__desc">
                            <h2 class="title__name">{{title.title}}</h2>
                            <button class="title__open">
                                <span class="material-symbols-outlined">expand_more</span>
                            </button>
                        </div>  
                        <div class="title__tasks">
                            {% for task in title.tasks.all  %}
                                <div class="title__task">
                                    {% if task.task == 'text' %}
                                    <span class="material-symbols-outlined">
                                        menu_book
                                        </span>
                                    {% elif task.task == 'video' %}
                                    <span class="material-symbols-outlined">
                                        movie
                                        </span>
                                    {% endif %}
                                    <a href="" class="link">{{task.title}}</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="page__about__left">
            <div class="course__info__share">
                <span>
                    <!-- <span class="material-symbols-outlined icon">
                        groups
                        </span> -->
                    Share In Social Media
                </span>
                <div class="course__info__share__icons">

                </div>
            </div>
            <div class="course__info__share">
                <span>
                    <b>More Info About Course</b>
                </span>
                <div class="course__info__share__icons">
                    <p><b>Titles: </b>{{courseTitlesCount}}</p>
                    <p><b>Tasks: </b>{{courseTasksCount}}</p>
                    <p><b>Comments: </b>{{courseCommentsCount}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<script>

</script>
{% endblock content %}