{% include 'main.html' %}

{% block title %}
    <link rel="stylesheet" href="/static/css/tags.css">
    <title>Tags</title>
{% endblock title %}

{% block content %}
<div class="page">
    {% include "header.html" %}
    <div class="page__content">
        <div class="page__content__main">
            <div class="page__content__header">
                <h2>Tags 🔖</h2>
                <div class="tags"></div>
            </div>
            <div class="page__content__tags">
                <form action="" method="POST" id="CreateTagForm">
                    {% csrf_token %}
                    <input type="text" name="name" placeholder="Enter tag name" class="name" required />
                    <button class="btn" type="submit">Save</button>
                </form>
                <div class="page__content__tags__all" id="ShowAllTags"></div>
            </div>
        </div>
        <div class="page__content__sorting"></div>
    </div>
</div>
<script src="/static/js/courses/tags.js"></script>
{% endblock content %}