{% include 'main.html' %}
{% comment %} {% load socialaccount account static %} {% endcomment %}

{% block title %}
    <link rel="stylesheet" href="/static/css/courses/task.css">
    <link rel="stylesheet" href="/static/css/components/tasks__loader.css">

    <title>Task</title>
{% endblock title %}

{% block content %}

<input type="hidden" name="" value="{{ course.id }}" id="CourseId"/>
<input type="hidden" name="" value="{{ course.title }}" id="CourseTitle"/>
<input type="hidden" name="" value="{{ task.id }}" id="TaskId"/>
<input type="hidden" id="UserId" value="{{ request.user.id }}" />

<div class="task__page">
    <div class="task__page__left">
        <div class="task__page__left__top">
            <a href='{% url 'course:courses' %}'>
                <span>Courses</span>
            </a>/
            <a href='{% url 'course:course' course.id %}'>
                <b>{{ course.title }}</b>
            </a>
        </div>
        <div class="task__page__left__header">
            <div class="task__page__left__header__left">
                <h2>{{task.title}}</h2>
            </div>
            <div class="task__page__left__header__right">
                
                <div class="task__page__left__header__buttons">
                    <a>
                        <svg width="13.25" height="23.75" viewBox="0 0 13.25 23.75" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.26761 1.25L11.8734 11.8558" 
                                    stroke="#202020" 
                                    stroke-width="2.5" 
                                    stroke-linecap="round"/>
                            <path d="M1.25 22.4146L11.8558 11.8088" 
                                    stroke="#202020" 
                                    stroke-width="2.5" 
                                    stroke-linecap="round"/>
                      </svg>
                    </a>
                    <a>
                        <svg width="13.25" height="23.75" viewBox="0 0 13.25 23.75" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.26761 1.25L11.8734 11.8558" stroke="#202020" stroke-width="2.5" stroke-linecap="round"/>
                            <path d="M1.25 22.4146L11.8558 11.8088" stroke="#202020" stroke-width="2.5" stroke-linecap="round"/>
                      </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="task__page__left__content">
            {% if task.text  %}
                {% autoescape off %}
                    {{ task.text }}
                {% endautoescape %}
            {% endif %}

            {% if task.video %}
                <video src={{ task.video.url }} 
                class='task__page__left__content__video'
                controls
                ></video>
            {% endif %}
        </div>
    </div>
    <div class="task__page__right">
        <h3>{{ course.title }}</h3>
        <div class="task__page__right__context" id="taskList">
            <div class="tasks__loader"></div>
        </div>
    </div>
</div>

<script src='/static/js/courses/task.js'></script>

{% endblock content %}