{% include 'index.html' %}
{% load static %}

{% block title %}
<title>{{user.username}}</title>
{% endblock title %}

{% block content %}
<div class="page profile">
    {% include "base/user/components/HeaderProfile.html" %}
    <div class="profile__body">
        {% include "base/user/components/RightMenuProfile.html" %}

        <div class="profile__body__right">
            {% if page == 'profile' %} 
                {% include "base/user/components/InfoProfile.html" %}
            {% endif %}

            {% if page == 'articles' %}
                {% include  "base/user/components/ArticlesProfile.html" %} 
            {% endif %}

            {% if page == 'likes' %}
                {% include "base/user/components/LikedPostsProfile.html" %}            
            {% endif %}

            {% if page == 'courses' %}
                {% include "base/user/components/CoursesProfile.html" %}
            {% endif %}

        </div>
    </div>
</div>
{% endblock content %}