{% include 'index.html' %}

{% block title %}
<title>Изменить {{user.username}}</title>
{% endblock title %}

{% block content %}
<div class="page profile">
    <div class="page__article__form">
        <h2>Личные данные</h2>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input 
                type="text" 
                name="email" 
                placeholder="ваш email..." 
                value="{{user.email}}"
                class="input"
            >
            <input 
                type="file"
                name="image"
                value="{{profile.image}}"
                class='input'
            >
            {% if profile.image != '' or profile.image != None %}
                <img src="http://127.0.0.1:8000/static/media/{{profile.image}}" alt="{{profile.user}}" class='ava'/>
            {% else %}  
                <img src="" alt="None" class="ava">
            {% endif %}
            <textarea
                name="bio"
                placeholder="U need to tell us about urself"
            >
            {{profile.bio}}
            </textarea>       
              
            <h3>Социальные сети 
                <span class="material-symbols-outlined">
                public
                </span>
            </h3>

            <input 
                type="text" 
                name="twitter" 
                placeholder="Никнейм вашего Twitter..." 
                value="{{profile.twitter}}"
                class="input"
            >
            <input 
                type="text" 
                name="github" 
                placeholder="Никнейм вашего Github..."  
                value="{{profile.github }}"
                class="input"
            >
            <input 
                type="text" 
                name="telegram" 
                placeholder="Никнейм вашего Telegram..."  
                value="{{profile.telegram}}"
                class="input"
            >
            <input 
                type="text" 
                name="website" 
                placeholder="Ссылка на ваш персональный сайт или другую соц. сеть..." 
                value="{{profile.website}}"
                class="input"
            >

            <button class="btn" type="submit" id="ProfileSubmit">Save</button>
        </form>
    </div>
</div>
<script>
    const textarea = document.querySelector('textarea');
    const ProfileSubmit = document.querySelector('#ProfileSubmit');

    textarea.addEventListener('change', () => { // Send in localStorage
        localStorage.setItem('ProfileTextarea', textarea.value);
    });

    textarea.value = localStorage.getItem('ProfileTextarea'); //get data from localStorage

    ProfileSubmit.addEventListener('click', () => { //Remove the tag from localStorage
        localStorage.removeItem('ProfileTextarea');
    });
</script>
{% endblock content %}