<div class="page__header">
    <div class="page__header__top">
        <div class="page__header__user">
            <img 
                {% if request.user.profile.image  %}
                    src="{{ request.user.profile.image.url }}"
                {% else %}
                    src="https://images.pexels.com/photos/17886484/pexels-photo-17886484/free-photo-of-patio-of-a-restaurant.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load"
                {% endif  %}
                alt="{{ request.user.username }}">
            <a href="/users/{{ request.user.username }}">{{ request.user.username }}</a>
        </div>
        <div class="page__header__menu">
            <a href="/" class="active">
               <img src="/static/media/icons/Content.svg" alt="Dashboard">
               Dashboard
            </a>
            <a href="/courses" class="">
                <img src="/static/media/icons/GraduationCap.svg" alt="Courses">
                Courses
            </a>
            <a href="/articles" class="">
                <img src="/static/media/icons/News.svg" alt="Articles">
                Articles
            </a>
            <a href="/tasks" class="">
                <img src="/static/media/icons/SigningADocument.svg" alt="SigningADocument">
                Tasks
            </a>
            <a href="/favorites" class="">
                <img src="/static/media/icons/Heart.svg" alt="Favorites">
                Favorites
            </a>
            <a href="/settings" class="">
                <img src="/static/media/icons/Settings.svg" alt="Settings">
                Settings
            </a>
        </div>
    </div>
    <div class="page__header__bottom">
        <a href="/sign-out" class="btn btn--primary">Sign Out</a>
    </div>
</div>