<header>
    <a class="header__logo" href="/">CODELEARN</a>
    <div class="header__menu">
        <a href={% url 'courses:catalog' %} class="link">Все Курсы</a>
        {% comment %} <a href="" class="link">Community</a> {% endcomment %}
        <a href="/articles" class="link">Блог</a>
    {% if request.user.is_authenticated %}
        <a href="{% url 'base:profile' request.user.username %}" class="link">{{request.user.username}}</a>
        <a href="{% url 'base:logout' %}" class="btn">Sign Out</a>      
    {% else %}
        <a href="/sign-in" class="link">Войти </a>
        <a href="/sign-up" class="btn">Регистрация</a>   
    {% endif %}
    </div>
</header>