<div class="course__comments__page">
  {% if comments %}
   <form class="page__buttons__filters" method="GET">
    <h4>Сортировка:</h4>
    <select name="filters" id="" class="sorting">
     <option value="all" selected>Все</option>
     <option value="reviews">Отзывы</option>
     <option value="comments">Комментарии</option>
    </select>
   </form>
   <div class="page__comments">
    {% for review in comments %}
    <div class="comment review">
      <div class="comment__header">
          <a href="{% url 'base:profile' request.user.username %}" class="">{{review.user.username}}</a>
          <div class="">
                <a></a>
              <span>{{review.updated|date:"d.m.Y   h:m"}}</span>
              {% if user.is_authenticated %}
                  {% if request.user.id == review.user.id %}
                      <a class="delete material-symbols-outlined" href="{% url 'courses:course-review-delete' course.slug review.id %}">
                          close
                      </a>
                  {% endif %}
              {% endif %}
          </div>
      </div>
      <p>{{review.message}}</p>
  </div>
   {% endfor %}
  </div>
  {% else %}
   <div class="not__found">
    <h2>Комментарии не найдены</h2>
   </div>
  {% endif %}
</div>