<div class="page__article__form update_course">
    <div class="update__course__header">
        <h2>Create New Title </h2>
        <a href="{% url 'courses:course' course.slug %}#CourseTitlesAndTasks" class="btn">Preview</a>
    </div>
    <form 
        action="" 
        method="POST" 
        class="create__task"
    >
        {% csrf_token %}
        <input 
            type="text"
            name="title"
            placeholder="Title..."
            >
            <button type="submit" class="btn">Create</button>
    </form>
    <div class="update__course__header">
        <h2>Create New Task 
            <span class="material-symbols-outlined">
            arrow_forward_ios
            </span>
        </h2>
        <a href="{% url  'courses:create-task' course.slug %}" class="btn btn-delete btn-big">Add New Task</a>
    </div>

    <div class="tasks">
        {% for CourseTitle in CourseTitles  %}
          <div class="task">
            <div class="task__title">
                <span>{{ CourseTitle.title }}</span>
                <a href="{% url 'courses:course-titles-update' course.slug CourseTitle.id %}" class="material-symbols-outlined btn btn-icon">
                    <span class="material-symbols-outlined icon">
                        edit_square
                    </span>
                </a>
            </div>
            <div class="in__task"   >
                {% for task in  CourseTitle.tasks.all %}
                <div class="task__title task__exercises">
                    <span>{{ task.title }}</span>
                    <a href="{% url 'courses:course-update-task' course.slug task.id %}" class="icon btn btn-icon btn-icon-mini">
                        <span class="material-symbols-outlined icon">
                            edit_square
                        </span>
                    </a>
                </div>
                {% endfor %}
            </div>
          </div>
        {% endfor %}
    </div>
</div>