<div class="page__article__form update_course">
    <div class="update__course__header">
        <h2>Course Content </h2>
        <a href="{% url 'courses:course' course.slug %}" class="btn">Preview</a>
    </div>
    <form 
        action="" 
        method="POST" 
        class="create__task"
    >
        {% csrf_token %}
        <input 
            type="text"
            name="title"
            placeholder="Title..."
            >
            <button type="submit" class="btn">Create</button>
    </form>
    <div class="tasks">
        {% for CourseTitle in CourseTitles  %}
          <div class="task tag">
            <h2>{{CourseTitle.title}}</h2>
            <div></div>
          </div>
        {% endfor %}
    </div>
</div>