<div class="page__article__form update_course">
    <div class="update__course__header">
        <h2>Обновить Курс</h2>
        <a href="{% url 'courses:course' course.slug %}" class="btn">Посмотреть</a>
    </div>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input 
            type="text" 
            name="title"
            placeholder="название..."
            class="course_field input"
            value="{{course.title}}"
        >
        <input 
            type="file"
            name='image'
            value="{{course.image}}"
            class="input"
        >
        <select name="tag">
            <option value="{{course.tags.id}}" selected>{{course.tags.name}}</option>
            {% for tag in tags  %}
              {% if tag.id != course.tags.id %}
                    <option value="{{tag.id}}">{{tag.name}}</option>
              {% endif %}
            {% endfor %}
        </select>
        <a href="{% url 'base:tags' %}" class="">Добавить другой тег!</a>
        <label for="">Описание:</label>
        <textarea 
            name="about" 
            placeholder="Описание..." 
            class="course_field"
        >{{course.about}}</textarea>
        <label for="">Что узнаете</label>
        <textarea 
            name="WhatAreUWillLearn" 
            class="course_field"
            placeholder="Что люди смогут узнать из вашего курса..."
        >{{course.whatAreUWillLearn}}</textarea>
        <label for="">Уровень сложности</label>
        <select name="level">
            <option value="{{course.level}}" selected disabled>{{course.level}}</option>
            {% if course.level == 'Beginner' %}
                <option value="Intermediate">Intermediate</option>
                <option value="Expert">Expert</option>
            {% elif course.level == 'Intermediate' %}
                <option value="Beginner">Beginner</option>
                <option value="Expert">Expert</option>
            {% elif course.level == 'Expert' %}
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
            {% else %}
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Expert">Expert</option>
            {% endif %}           
        </select>
        <label for="">Начальные знания</label>
        <input 
            name="InitialRequirements" 
            placeholder="Начальные знания" 
            class="course_field input"
            value="{{ course.initialRequirements }}"
        />
        <div class="page__article__form__box">
            <input 
                type="checkbox" 
                class="page__article__form__checkbox" 
                name="public" 
                class="input"
                {% if course.public %}
                    checked
                {% endif %}
            > 
            <div>я хочу опубликовать свой курс</div>
        </div>
        <button class="btn" type="submit" id="Submit" >сохранить</button>
    </form>
</div>