{% load static %}

{% if request.user.is_superuser %}
<div class="page__panel">
    <a href="{% url 'courses:create-course' %}" class="btn btn-delete">
        {% comment %} <span>Add New Post</span> {% endcomment %}
        <span class="material-symbols-outlined ">
            drive_file_rename_outline
        </span>
    </a>
</div>
{% endif %}
<div class="home__courses__objects">
    {% for course in courses  %}
        <div class="course">
            <div class="course__image">
                <img src="/static/media/{{course.image}}" alt="" class="course__img">
                <div class="course__mask"></div>
            </div>
            <div class="course__info">
                <div class="course__info__desc">
                    <a href="{% url 'courses:course' course.slug %}" class = 'course__title '>{{course.title}}</a>
                    <p>{{course.description|truncatewords:30}}</p>
                </div>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        {% if request.user.username == course.user.username %}
                            <div class="course__info__tables ">
                                <a href="{% url 'courses:tasks-panel' course.slug %}" class="btn btn-icon">
                                    <span class="material-symbols-outlined">
                                        edit_square
                                    </span>
                                </a>
                                <a href="" class="btn btn-delete">
                                    <span class="material-symbols-outlined">
                                    delete_forever
                                    </span>
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <div class="course__info__tables">
                    <a href="/">{{course.user}}</a>
                    <a href="/">#{{course.tags}}</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>