{% include 'index.html' %}

{% comment %} {% block title %}Home{% endblock title %} {% endcomment %}

{% block content %}
<div class="home">
    <div class="home__intro">

    </div>
    <div class="home__courses">
        <div class="home__courses__doc">
            <h2>
                <span class="material-symbols-outlined">
                library_books
                </span>
                Курсы
            </h2>
            <a href="/courses" class="">
                Все Курсы
                <span class="material-symbols-outlined">
                    east
                </span>
            </a>
        </div>
        <div class="home__courses__objects">
            {% for course in courses %}
                {% if course.public == True %}
                <div class="course">
                    <div class="course__image">
                        <img src="http://127.0.0.1:8000/static/media/{{course.image}}" alt="" class="course__img">
                        <div class="course__mask"></div>
                    </div>
                    <div class="course__info">
                        <div class="course__info__desc">
                            <a href="{% url 'courses:course' course.slug %}" class = 'course__title '>{{course.title}}</a>
                            <p>{{course.description|truncatewords:30}}</p>
                        </div>
                        <span class="course__info__tables">
                            <a href="/">{{course.user}}</a>
                            <a href="/">#{{course.tags}}</a>
                        </span>
                        <span class="course__info__tables__line"></span>

                        <span class="course__info__tables">
                            <a href="/">{{course.level}}</a>
                            <a href="/">{{course.set_tasks.count}}</a>
                        </span>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
        <div class="home__articles">
            <div class="home__courses__doc">
                <h2>
                    <span class="material-symbols-outlined">
                        newspaper
                    </span>
                    Блог
                </h2>
                <a href="/articles" class="">
                    Все Статьи
                    <span class="material-symbols-outlined">
                        east
                    </span>
                </a>
            </div>
            <div class="home__courses__objects">
                {% for article in articles %}
                    <article class="article">
                        <a class="link__page"  href="{% url 'article:show_article' article.slug %}">{{article.title}}</a>
                        <div class="article__head ">

                        </div>
                        <div class="article__body">
                            {{article.text | truncatewords:30 }}
                        </div>
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                {% if request.user.username == article.user.username %}
                                    <div class="article__head article__buttons">
                                        <a href="{% url 'article:update_article' article.slug %}" class="btn btn-icon">
                                            <span class="material-symbols-outlined">
                                                edit_square
                                            </span>
                                        </a>
                                        <a href="{% url 'article:delete_article' article.slug %}" class="btn btn-delete">
                                            <span class="material-symbols-outlined">
                                            delete_forever
                                            </span>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </article>
                {% endfor %}
            </div>
        </div>
</div>
{% endblock content %}
