{% include 'index.html' %}

{% block title %}
    <title>Sign In</title>
{% endblock  %}


{% block content %}
<div class='page'>
    <div class="page__login__place">
        <h2>Вход</h2>
        <form action="" method="POST" class="page__form">
            {% csrf_token %}
            <input
                type="text" 
                name="email" 
                placeholder="username..." 
                class="input"
             >
            <input 
                type="Password" 
                name="password"
                placeholder="password..." 
                class="input"
             >
            <button type="submit" class="btn">Вход</button>
            <div class="sign__form__redirect">У вас нет аккаунта?!
                <a 
                    class="linki" 
                    href="/sign-up"
                    style="text-decoration:underline"
                >Зарегестрироваться</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}