{% include 'index.html' %}

{% block title %}
<title>Tags Page</title>
{% endblock title %}

{% block content %}
<div class="page">
    {% comment %} <p>{{user.is_superuser}}</p> {% endcomment %}
    <div class="page__article__form">
        <h2>Create New Tag</h2>
        <form action="" method="POST" class="create__tags__form">
            {% csrf_token %}
            <input type="text" class="input" name='tag' class="" placeholder='enter tag name...'>
            <button type="submit" class="btn">
                <span class="material-symbols-outlined">
                    save
                </span>
            </button>
        </form>
        <div class="tags">
            {% for tag in tags  %}
              <div class="tag">
                <h2>{{tag.name}}</h2>
                <a class="btn btn-delete" href={% url 'base:tags-delete' tag.id %}>
                    <span class="material-symbols-outlined">
                        delete_forever
                    </span>
                </a>
              </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}