{% include 'index.html' %}

{% block title %}
    <title>Sign Up</title>
{% endblock  %}


{% block content %}
<div class='page'>
    <div class="page__login__place">
            <h2>Зарагестрироваться</h2>
            <form action="" method="POST" class="page__form">
                {% csrf_token %}
                <input 
                    type="name" 
                    name="name" 
                    placeholder="имя..." 
                    class="input"
                >
                <input 
                    type="email" 
                    name="email" 
                    placeholder="емаил..." 
                    class="input"
                >
                <input 
                    type="password" 
                    name="password" 
                    placeholder="пароль..."
                    class="input"
                >

                <button type="submit" class="btn">Sign Up</button>
                <div class="sign__form__redirect">У вас есть аккаунт?!
                     <a 
                        class="linki" 
                        href="/sign-in"
                        style="text-decoration:underline"
                     >Войти</a>
                </div>
            </form>
    </div>
</div>
{% endblock content %}